/*-----Responsive-----*/
@media only screen and (max-width: 3840px) (min-width: 1921px){ 
   .wrapper {
      width: 80%;
   }

   nav {
      margin-top: -2rem;
      width: 60%;
   }

   .logo {
      top: 20px;
      left: 1000px;
   }

   header {
      max-width: 1500px;
   }

   nav {
      margin: auto;
   }

   .animoji {
      max-width: 30%;
   }

   .skills {
      height: 1000px;
      width: 40%;
   }

   .gridSkills .col {
      width: 40%;
      margin: 0 auto 60px;
   }

   .gridSkills .col img {
      width: 25%;
   }

   .gridSkills .col p {
      letter-spacing: 1px;
      margin: 3% auto;
      width: 68%;
   }

   .gridWork {
      width: 70%;
   }

   .projectInfo {
      margin: 100px auto;
      width: 60%;
      height: 810px;
   }

   .projectLogo {
      margin: 150px auto;
   }

   .col h2 {
      font-size: 25px;
   }

   .resume {
      width: 40%;
   }

   .content-resume {
      bottom: 80px;
   }

   .btn-resume {
      top: 480px;
      left: 160px;
      width: 100px;
   }

   .about {
      width: 50%;
   }

   .me {
      top: 200px;
   }

   .content-about {
      bottom: -20px;
   }
}

@media only screen and (max-width: 1920px) {
   .wrapper {
      width: 90%;
   }

   nav {
      margin-top: 1rem;
      width: 100%;
   }

   .logo {
      top: 5px;
      left: 80px;
   }

   header {
      max-width: 2000px;
   }

   .animoji {
      max-width: 40%;
   }

   .skills {
      height: 920px;
      width: 80%;
   }

   .gridSkills .col {
      width: 40%;
      margin: 0 auto 60px;
   }

   .gridSkills .col img {
      width: 20%;
   }

   .gridSkills .col p {
      letter-spacing: 1px;
      margin: 3% auto;
      width: 68%;
   }

   .col img {
      width: 90%;
   }

   .gridWork {
      width: 100%;
   }

   .projectInfo {
      margin: 100px auto;
      width: 70%;
      height: 820px;
   }

   .projectLogo {
      width: 80%;
   }

   .needs {
      width: 32%;
   }

   .col h2 {
      font-size: 25px;
   }

   .resume {
      width: 70%;
   }

   .content-resume {
      bottom: 80px;
   }

   .btn-resume {
      top: 480px;
      left: 160px;
      width: 100px;
   }

   .about {
      width: 80%;
   }

   .me {
      top: 160px;
   }

   .content-about {
      bottom: 40px;
   }
}

@media only screen and (max-width: 1366px) {
   .wrapper {
      width: 90%;
   }

   nav {
      margin-top: 0;
   }

   .logo {
      top: -5px;
      left: 60px;
   }

   header {
      max-width: 2000px;
   }

   .animoji {
      max-width: 40%;
   }

   .skills {
      height: 900px;
      width: 80%;
   }

   .gridSkills .col {
      width: 40%;
      margin: 0 auto 60px;
   }

   .gridSkills .col img {
      width: 25%;
   }

   .gridSkills .col p {
      letter-spacing: 1px;
      margin: 3% auto;
      width: 68%;
   }

   .projectInfo {
      margin: 100px auto;
      width: 80%;
      height: 910px;
   }

   .col h2 {
      font-size: 25px;
   }

   .resume {
      width: 90%;
   }
}


@media only screen and (max-width: 1280px) {
   nav {
      margin-top: 0;
   }

   header {
      width: 90%;
      margin-top: 50px;
   }

   header h1 {
      width: 60%;
   }

   .gridSkills .col img {
      width: 30%;
   }

   .work .col {
      width: 50%;
   }

   .content-resume {
      left: 50%;
      bottom: 140px;
   }

   .content-resume p {
      font-size: 16px;
      text-align: left;
   }

   .btn-resume {
      top: 420px;
   }

   .projectLogo {
      width: 90%;
   }

   .needs {
      width: 40%;
   }

   .projectInfo {
      height: 800px;
   }

   .content-about {
      margin: 5% auto;
   }

   .content-about p {
      font-size: 14px;
   }

   .overview p {
      font-size: 16px;
   }

   .btn-vid {
      margin-top: 60px;
   }
}



@media only screen and (max-width: 1024px) {
   .logo {
      top: 8px;
   }

   .skills {
      height: 900px;
   }

   .work {
      margin: 250px auto;
   }

   .content-resume {
      left: 40%;
   }

   .content-resume p {
      font-size: 14px;
      margin-bottom: 10%;
   }

   .projectInfo {
      height: 750px;
      width: 90%;
   }

   .needs {
      font-size: 14px;
   }

   .overview p {
      font-size: 14px;
   }

   .btn-resume {
      font-size: 16px;
      left: 100px;
      padding: 12px 25px;
   }

   footer {
      margin-top: 320px;
      clear: both;
   }
}


@media only screen and (max-width: 834px) {
   .wrapper {
      width: 100%;
   }

   .desktop {
      display: none;
   }

   nav {
      position: fixed;
      background-color: #FFFFFF;
      width: 100%;
      z-index: 1;
      height: 100px;
      top: 0;
   }

   nav .sidebar,
   .openbtn {
      display: block;
   }

   .sidebar {
      padding-top: 15px;
   }

   .logo {
      left: 20px;
   }

   header {
      margin-top: 50px;
      height: auto;
      width: 80%;
   }

   header h1 {
      width: 50%;
   }

   .skills {
      height: 980px;
      width: 90%;
   }

   .gridSkills {
      margin: 20px auto;
   }

   .gridSkills .col {
      margin: 30px auto;
   }

   .gridSkills .col img {
      width: 32%;
   }

   .gridSkills .col p {
      width: 60%;
   }

   .work {
      width: 90%;
   }

   .content-resume {
      width: 50%;
      left: 40%;
      bottom: 140px;
      bottom: 90px;
   }

   .content-resume p {
      font-size: 16px;
      text-align: left;
   }

   .btn-resume {
      left: 60px;
      top: 480px;
   }

   .needs p {
      font-size: 16px;
   }

   .projectInfo {
      width: 90%;
      height: 810px;
   }

   .overlay h2 {
      font-size: 20px;
   }

   .about {
      margin-bottom: 0;
      overflow-y: hidden;
   }

   .me {
      top: 140px;
      width: 45%;
   }

   .content-about {
      top: 110px;
   }

   .content-about p {
      text-align: left;
   }

   footer {
      margin-top: 300px;
   }
}


@media only screen and (max-width: 768px) {
   .logo {
      top: 12px;
   }

   .desktop {
      display: none;
   }

   .title img {
      width: 90%;
   }

   .skills {
      height: 800px;
   }

   .gridSkills {
      height: 550px;
   }

   .gridSkills .col {
      margin: 0 auto 70px;
   }

   .gridSkills .col img {
      width: 30%;
   }

   .gridSkills .col p {
      width: 80%;
      font-size: 14px;
      margin: 5% auto;
   }

   .work {
      margin-bottom: 100px;
   }

   .work .col {
      width: 50%;
   }

   .work .col img {
      margin: 1%;
      width: 90%;
   }

   .content-resume {
      bottom: 110px;
   }

   .content-resume p {
      font-size: 14px;
   }

   .btn-resume {
      top: 450px;
      font-size: 14px;
   }

   .me {
      width: 80%;
      top: 180px;
      left: 50px;
   }

   .about {
      text-align: left;
      height: 1100px;
      margin-top: 150px;
   }

   .about .title {
      position: absolute;
   }

   .content-about {
      width: 80%;
      left: 50px;
      top: 700px;
   }

   .content-about p {
      font-size: 16px;
   }

   .projectLogo {
      width: 90%;
   }

   .projectInfo {
      height: 1050px;
   }

   .needs {
      width: 100%;
      margin-bottom: 15%;
   }

   .overview {
      width: 100%;
   }

   .btn-project,
   .btn-vid {
      font-size: 14px;
   }

   footer {
      margin: 150px 0 20px 0;
   }
}


@media only screen and (max-width: 414px) {
   .logo {
      top: 12px;
      left: 0;
   }

   .sidebar {
      top: 11%;
   }

   .sidebar .closebtn {
      right: 10px;
   }

   .sidebar .email {
      width: 50%;
   }

   header {
      margin-top: 100px;
   }

   header h1 {
      margin-top: 80px;
   }

   .animoji {
      display: none;
   }

   .title img {
      width: 100%;
   }

   .resume .title img {
      width: 90%;
   }

   .skills {
      height: 1400px;
   }

   .gridSkills {
      height: fit-content;
   }

   .gridSkills .col {
      width: 60%;
   }

   .gridSkills .col img {
      width: 40%;
   }

   .gridSkills p {
      display: none;
   }

   .listSkills {
      display: block;
   }

   .work .col {
      width: 100%;
      margin: 3% auto;
   }

   .work .col img {
      width: 90%;
   }

   .overlay h2 {
      font-size: 18px;
   }

   .overlay h4,
   .projectInfo h4 {
      font-size: 12px;
   }

   .resume {
      margin-top: 0;
      width: 90%;
   }

   .content-resume {
      width: 80%;
      left: 20%;
      bottom: 180px;
   }

   .content-resume p {
      font-size: 14px;
   }

   .btn-resume {
      left: -20px;
      top: 400px;
   }

   .projectLogo {
      margin-top: 120px;
      margin-bottom: 50px;
   }

   .projectInfo {
      margin-top: 10px;
      height: 1150px;
   }

   .btn-project,
   .btn-vid {
      padding: 10px 25px;
      font-size: 12px;
   }

   .description {
      padding: 30px;
   }

   .me {
      top: 100px;
      left: 10%;
   }

   .about {
      height: 800px;
      width: 90%;
   }

   .content-about {
      top: 450px;
      left: 40px;
   }

   .content-about p {
      font-size: 12px;
   }

   .social img {
      height: 20px;
      margin: 10px 8px;
   }

   footer {
      margin: 75px 0 20px 0;
   }
}


@media only screen and (max-width: 375px) {
   .sidebar {
      top: 12%;
   }

   .sidebar .closebtn {
      font-size: 3.5em;
   }

   span {
      font-size: 40px;
   }

   .skills {
      height: 1350px;
   }

   .work .title img {
      width: 100%;
   }

   .work .col {
      width: 100%;
   }

   .projectInfo {
      height: 900px;
   }

   .projectInfo p {
      font-size: 12px;
   }

   .projectInfo h2 {
      font-size: 20px;
   }

   .overview p {
      font-size: 12px;
   }

   .special {
      font-size: 16px;
   }

   .resume {
      margin: 50px auto;
      width: 80%;
   }

   .content-resume {
      bottom: 240px;
   }

   .content-resume p {
      font-size: 12px;
   }

   .btn-resume {
      top: 340px;
      padding: 10px 25px;
      font-size: 12px;
   }

   .about {
      height: 800px;
      width: 100%;
      margin-top: 130px;
   }

   .about .title img {
      width: 85%;
   }

   .me {
      left: 10%;
   }

   .content-about {
      top: 420px;
      left: 35px;
   }

   .social img {
      height: 18px;
   }

   footer {
      margin: 50px 0 20px 0;
   }
}


@media only screen and (max-width: 320px) {
   .sidebar {
      top: 18%;
   }

   header {
      width: 70%;
   }

   header h1 {
      font-size: 35px;
   }

   span {
      font-size: 32px;
   }

   .skills {
      height: 1250px;
   }

   .skills .col img {
      width: 45%;
   }

   .work .col img {
      margin: 5% auto;
   }

   .overlay h2 {
      font-size: 14px;
   }

   .overlay h4 {
      font-size: 10px;
   }

   .btn-project {
      font-size: 10px;
   }

   .btn-vid {
      font-size: 10px;
      margin-top: 50px;
   }

   .about {
      height: 840px;
   }

   .content-about {
      width: 80%;
      top: 380px;
   }

   .social img {
      margin: 10px 5px;
   }
}